#ifndef __MVME_EXPORT_{{header_guard}}__
#define __MVME_EXPORT_{{header_guard}}__

struct {{struct_name}}
{
    {{#data_members}}
    {{/data_members}}
};

#endif /* __MVME_EXPORT_{{header_guard}}__ */
