**/*.sw?
CMakeLists.txt.user*
extras/mvme-listfile-dumper/mvme-listfile-dumper
doc/doxygen/html/
doc/mvme.qch
doc/mvme.qhc
doc/sphinx/source/changelog.rst
.clangd/
build*/
.cmake/
.cache/
*.~lock*
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
