[submodule "external/mesytec-mvlc"]
	path = external/mesytec-mvlc
	url = ../mesytec-mvlc.git
[submodule "external/qgv"]
	path = external/qgv
	url = ../qgv.git
[submodule "external/nng/extern/nng-wolfssl"]
	path = external/nng/extern/nng-wolfssl
	url = https://github.com/staysail/nng-wolfssl
