R"(#ifdef __CINT__
{{#vme_events}}
{{#modules}}
#pragma link C++ class {{event_name}}_modules::{{struct_name}}+;
{{/modules}}
#pragma link C++ class {{struct_name}}+;
{{/vme_events}}
#pragma link C++ class {{exp_struct_name}}+;
#endif
{{!
vim:ft=cpp
}})"
