from {{base_name_thingy}} import {{struct_name}}

#!/usr/bin/env python

import sys
from sums_and_coords import SumsAndCoords

if __name__ == "__main__":
    if len(sys.argv) < 2:
        inputFilename = "foobar"
        print("Using generated input filename " + inputFilename)
    else:
        inputFilename = sys.argv[1]
        print("Using filename from command line: " + inputFilename)

    inFile = None

    if inputFilename[-3:] == ".gz":
        import gzip
        inFile = gzip.GzipFile(inputFilename, 'rb')
    else:
        inFile = open(inputFilename, 'rb')

    while True:
        event = SumsAndCoords.read(inFile)
        if not event: break

        for ai in range(event.ArrayCount):
            print "Array #%u: " % ai, ": ", event.getArray(ai)
        print

{{!
vim:ft=python
}}
