R"(

#include "{{header_filename}}"
#include <iostream>

extern "C"
{

// Called once after loading this library. Additional command line parameters
// given to mvme_root_client are passed in the args variable.
void init_analysis(const std::vector<std::string> &args)
{
    std::cerr << __PRETTY_FUNCTION__ << std::endl;
}

// Called before the mvme_root_client program exits.
void shutdown_analysis()
{
    std::cerr << __PRETTY_FUNCTION__ << std::endl;
}

// Called each time a new run stats.
void begin_run()
{
    std::cerr << __PRETTY_FUNCTION__ << std::endl;
}

// Called each time a run ends.
void end_run()
{
    std::cerr << __PRETTY_FUNCTION__ << std::endl;
}

{{#vme_events}}
bool analyze_{{name}}(Event_{{name}} *event, int64_t eventNumber)
{
    // ===== Custom analysis code for event {{struct_name}} goes here =====

    return true;
}
{{/vme_events}}

} // end extern "C"

{{!
vim:ft=cpp
}})"
